*body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}
.container{
    width: 600px;
    margin: 20px auto;
    padding: 20px;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.container h2{
    color: #ff69b4;
}
.alunos-lista{
    list-style: none;
    padding: 0;
}
.alunos-lista li{
    margin-bottom: 10px;
    padding: 10px;
    background-color: #ffe6f2;
    border-radius: 4px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.alunos-lista li span{
    font-weight: bold;
}
.opcoes-aluno a{
    color: #fff;
   padding: 5px 10px;
    border-radius: 4px;
    text-decoration: none;
    margin-left: 5px;
}
.opcoes-aluno a:hover{
    background-color: #d45d91;
}

.butao a button{
    display: block;
    width: 100%;
    padding: 10px;
    background-color:#ff69b4;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    text-decoration: none;
    margin-top: 5px;
}
.butao a button:hover{
    background-color: #e3a1c0;
}
