body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

header {
    background-color: #fa94c7;
    padding: 20px 0;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
 .container h1 {
    margin: 0;
    color: #fff;
}

.container nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.container nav ul li {
    display: inline;
}

.container nav ul li a {
    color: #fff;
    text-decoration: none;
    margin-left: 20px;
}

.container nav ul li a:hover {
    text-decoration: underline;
}
.sobre{
    padding: 40px;
    background-color: #f0f0f0;
}
.sobre p{
    font-size: 17px;
}

.sobre  h2 {
    margin-top: 0;
    text-align: center;
}
.sobre .img img{
    max-width: 40vw;
    margin-left: auto;
    margin-right: auto;
}

.disciplinas section ul {
    list-style: none;
    padding: 0;
}

@media screen and (max-width: 768px) {
    header {
        padding: 10px;
    }

    header h1 {
        font-size: 20px;
    }

    nav ul li {
        display: block;
        margin: 10px 0;
    }
    section {
        padding: 20px;
    }
}

/*butões*/

    .butoes{
        background-color: #b5afaf;
        width: 100%;
        padding: 50px 0px;
    }
    .butoes p{
        color:#000000;
        text-align: center;
        font-size: 18px;
    }
    .box{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 400px;
    }

    .card{
    height: 365px;
    width: 335px;
    padding: 20px 35px;
    background-color: #191919;
    border-radius: 20px;
    margin: 15px;
    position: relative;
    overflow: hidden;
    text-align: center;
    }

    .card h5{
    color: white;
    font-size: 23px;
    margin-bottom: 15px;
    }

    .pra p{
    color: #fa94c7;
    font-size: 17px;
    line-height: 27px;
    margin-bottom: 25px;
    }

    .card .button{
    min-width: 130px;
    height: 40px;
    color: #fff;
    padding: 5px 10px;
    font-weight: bold;
    cursor: pointer;
    transition: all 0.3s ease;
    position: relative;
    display: inline-block;
    outline: none;
    overflow: hidden;
    border-radius: 5px;
    border: none;
    background-color: #ad467a;
    margin-top: 3px;
    margin-bottom: 2px;
    }
    .card .button:hover{
        border-radius: 5px;
        padding-right: 24px;
        padding-left:8px;
    }
    .card .button:hover:after {
        opacity: 1;
        right: 10px;
      }
      .card .button:after {
        content: "\00BB";
        position: absolute;
        opacity: 0;
        font-size: 20px;
        line-height: 40px;
        top: 0;
        right: -20px;
        transition: 0.4s;
      }
    /*contactos*/
    .contactos{
        width: 100%;
        background: #fa94c7;
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: center;
        }
        .contactos h2{
            color: #000;
            font-size: 50px;
            width: 100%;
            margin: 30px auto ;
            text-align: center;
        }
        .contactos p{
        color: #000;
        font-size: 25px;
        font-weight: bold;
        margin-bottom: 15px;
        }